@use '../../../../styles/palette.scss' as var;
@use '../../../../styles/function.scss' as fn;


.card-curso {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lighten(var.$card-bg, 50%);
    background-color: var.$card-bg;
    display: flex;
    flex-direction: column;
    gap: fn.rem(10);
    overflow: hidden;
    transition: 0.2s ease-in;

    &:hover {
        z-index: 2;
        background-color: lighten(var.$card-bg, 10%);
        box-shadow: 0 0 20px 11px var.$card-bg;
    }

    .img-card-curso {
        aspect-ratio: 16 / 9;
        height: 50%;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    

    div.card-curso-acao {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 25%;
        position: relative;

        .btn-vercurso {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 10px;
            padding: fn.rem(10);
            height: fn.rem(40);
            background: var.$bg-btn;
            color: var.$text-main;
            font-weight: bold;
            transition: 0.2s ease;

            &:hover {
            background: lighten(var.$bg-btn, 10%);
                color: black;
                transform: scale(1.1);
                }
        }

        .card-curso-preco {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            p {
                color: rgb(14, 206, 14);
            }
        }
    }

    h2 {
        overflow-wrap: break-word;
        word-break: break-word;
    }
}