@use '../../../styles/function.scss' as fn;

//amalero #f4c44a
//azul #2f4bc9

.ButtonAction {
    border-radius: 10px;
    width: 100%;
    font-size: fn.rem(25);
    transition: 0.1s ease-in;

    &:hover {
        filter: brightness(0.9);
    }
}
