@use '../../../styles/function.scss' as fn;

$cores: (
  #4DA3FF,
  #5AB0FF,
  #66BCFF,
  #73C8FF,
  #80D4FF,
  #8DE0FF,
  #9AEAFF,
  #A7F3FF
);

.page-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: fn.rem(20);
    width: 100%;
    height: 100%;
    background: linear-gradient(
        135deg,
        #101E39 0%,
        #0C1324 40%,
        #090909 75%,
        #090909 100%
    );
    background-size: 300% 300%;
    animation: charge-gradient 5s alternate infinite;
    //backdrop-filter: blur(5px);

    @keyframes charge-gradient {
        0% {
            background-position: 0% 100%;
        }
        50% {
            background-position: 50% 50%;
        }
        100% {
            background-position: 100% 0%;
        }
    }

    h1 {
        font-size: fn.rem(30);
        font-family: "Sora", "Inter", Arial, Helvetica, sans-serif;
        color: white;
    }

    .loading {
        width: auto;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;

        div {
            width: 10px;
            height: 100%;
            animation: scale-minmax 0.5s alternate infinite;
        }

        @for $i from 1 through 8 {
            div:nth-child(#{$i}) {
                animation-delay: #{($i - 1) * 0.05}s;
                background: nth($cores, $i);
            }
        }

        @keyframes scale-minmax {
            from {
                transform: scaleY(0.1);
            }
            to {
                transform: scaleY(1);
            }
        }
    }
}