@use '../../../../styles/global.scss' as *;

.head-verCurso {
    gap: rem(10);

    .autor-cursoVer {
        display: flex;
        gap: rem(10);
        align-items: center;
        width: auto;
        height: 50px;
    }
}