@use '../../../../styles/function.scss' as fn;

.head-verCurso {
    gap: fn.rem(10);

    .autor-cursoVer {
        display: flex;
        gap: fn.rem(10);
        align-items: center;
        width: auto;
        height: 50px;
    }
}