@use '../../../../styles/global.scss' as *;

.card-curso {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lighten($card-bg, 50%);
    background: $card-bg;
    display: flex;
    flex-direction: column;
    gap: rem(10);
    transition: 0.3s ease-in-out;

    &:hover {
        background: lighten($card-bg, 10%);
    }

    img {
        aspect-ratio: 16 / 9;
        height: 50%;
        object-fit: cover;
        border-radius: 10px;
    }

    div.card-curso-acao {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 25%;
        position: relative;

        .btn-vercurso {
            border-radius: 10px;
            padding: rem(10);
            height: rem(40);
            background: $bg-btn;
            color: $text-main;
            font-weight: bold;
            transition: 0.2s ease;

            &:hover {
            background: lighten($bg-btn, 10%);
                color: black;
                transform: scale(1.1);
                }
        }

        .card-curso-preco {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            p {
                color: rgb(14, 206, 14);
            }
        }
    }

    h2 {
        overflow-wrap: break-word;
        word-break: break-word;
    }
}