@use '../../../../styles/function.scss' as fn;

.cursos-main {
    margin-top: fn.rem(50);
    width: 80%;
    height: auto;

    * {
        color: white;
    }

    .cursos-conteiner { 
        margin-top: fn.rem(50);
        width: 100%;
        height: auto;
        display: grid;
        //modifiquei aqui
        grid-template-columns: repeat(3, 1fr); // 33.3%
    }
}