//funcao que tranforma px em rem
@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

//sem border e outline
button, fieldset, input {
    border: 0;
    outline: 0;
}

//Paleta
$blue-500: #3D79F2;
$navy-900: #101E39;
$gray-800: #262626;
$black-900: #0D0D0D;
//textos
$text-main:#F2F2F2;
$text-sg: #a2a2a2;

.text-main {color: $text-main;}
.text-sg {color: $text-sg;}