//funcao que tranforma px em rem
@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

//sem border e outline
button, fieldset, input {
    border: 0;
    outline: 0;
}

//Paleta
$blue-500: #3D79F2;
$navy-900: #101E39;
$gray-800: #262626;
$black-900: #0D0D0D;
$card-bg: #1c2133;
//textos
$text-main:#F2F2F2;
$text-sg: #a2a2a2;
//cor botao
$bg-btn: #3359ce;

.text-main {color: $text-main;}
.text-sg {color: $text-sg;}

//Class retulizavel
.list-check {
    padding: rem(10);
    width: 100%;
    height: auto;

    li {
        color: $text-sg;
        position: relative;
        margin-left: 20px;
        font-family: "Sora", "Inter", Arial, Helvetica, sans-serif;

        &::before {
            display: block;
            width: 5px;
            aspect-ratio: 1 / 1;
            content: '✅';
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: -25px;
        }
    }
}

//Essa class tem como funcao que da um pequna outline ao filho do elemento com essa class. Por questao de UI
.hover-outline {
    main {
        &:hover {
            transition: outline 0.2s ease-in-out;
            outline: 2px solid rgba(255, 255, 255, 0.495);
        }
    }
}

//bloco 1 / 1
.asp-1-1 {aspect-ratio: 1 / 1;}