@use '../../../../styles/palette.scss' as var;

.BackAprendizado {
    width: 100%;
    height: 100%;
    background: linear-gradient(-40deg, var.$black-900, 70%, var.$navy-900 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    * {
        font-family: 'Inter', Arial, Helvetica, sans-serif;
    }
}