@use '../../../styles/global.scss' as *;

.head {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 70px;
    width: 100%;
    height: 70px;
    padding: rem(3);
    background: rgba(255, 255, 255, 0.028);

    .logo {
        place-self: center;
        height: 100%;
    }

    ul {
        place-content: end;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: rem(20);

        li {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: cover;
                aspect-ratio: 1 / 1;
                height: 100%;
            }
        }

        .user-conteiner {
            margin-right: rem(20);
            background: $blue-500;
            display: flex;
            align-items: center;
            padding: rem(5);
            height: 80%;
            min-width: 150px;
            max-width: 220px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            .user-img, .user-name {
                z-index: 2;
                position: relative;
            }

            .user-img {
                border-radius: 10px;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
            }

            .user-name {
                color: white;
                font-family: 'Sora', Arial, Helvetica, sans-serif;
            }
            //Uma pequena animacao no user
            $cor-slide-low: #ffffff4f;
            .slide-low {
                filter: blur(10px);
                position: absolute;
                z-index: 1;
                left: 0;
                transform: rotate(25deg);
                background: linear-gradient(90deg, transparent, $cor-slide-low 40%, $cor-slide-low 60%, transparent);
                width: 20%;
                height: 150%;
                animation: anima-slide-low 5s linear 3s infinite forwards;
            }

            @keyframes anima-slide-low {
                0% {left: -20%;}
                70% {left: 120%;}
                100% {left: 120%;}
            }
        }
    }
}


//warn-circle, um ciruclo presente, no carrinho e o mensagem no header. Sinalizando algo.
.warn-circle-cart {
    background: red;
    aspect-ratio: 1 / 1;
    height: 25px;
    position: absolute;
    top: -10%;
    border-radius: 50%;
    left: 60%;
    //centralizar texto/numero
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sora", "Inter", Arial, Helvetica, sans-serif;

    p {
        display: inline;
        color: $text-main;
        font-weight: bold;
        text-align: center;
    }
}