@use '../../../../styles/global.scss' as *;

$bg-items-cart: #131528;
$sub-bg-items-cart: #101222;

.wraper-items-cart {
    width: 100%;
    min-height: 300px;
    background: $bg-items-cart;
    border-radius: 10px;
    padding: rem(13);

    .items-cart {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: rem(13);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: $sub-bg-items-cart;
    }
}