@use '../../../../styles/function.scss' as fn;
@use '../../../../styles/palette.scss' as var;
//paletas
$bg-sobrecurso: #131528; 

.sobre-curso {
    grid-row: 1 / 3;
    border-radius: 10px;
    width: 100%;
    min-height: 500px;
    padding: fn.rem(10) 0 fn.rem(10) fn.rem(10);
    background: $bg-sobrecurso;

    .title-sobre-curso {
        width: 100%;
        font-size: fn.rem(25);
        //padding: rem(10);
        color: var.$text-main;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            background: white;
            width: 100%;
            height: 1px;
            background: linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.402));
            top: 100%;
            left: 0;
        }
    }

    .sub-title-curso {
        color: var.$text-main;
        font-weight: bold;
        font-size: fn.rem(25);
        padding-left: fn.rem(5);
        padding-top: fn.rem(5);
    }
}