@use '../../../../styles/global.scss' as *;
//paletas
$bg-sobrecurso: #131528; 

.sobre-curso {
    grid-row: 1 / 3;
    border-radius: 10px;
    width: 100%;
    min-height: 500px;
    padding: rem(10) 0 rem(10) rem(10);
    background: $bg-sobrecurso;

    .title-sobre-curso {
        width: 100%;
        font-size: rem(25);
        //padding: rem(10);
        color: $text-main;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            background: white;
            width: 100%;
            height: 1px;
            background: linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.402));
            top: 100%;
            left: 0;
        }
    }

    .sub-title-curso {
        color: $text-main;
        font-weight: bold;
        font-size: rem(25);
        padding-left: rem(5);
        padding-top: rem(5);
    }

    .paragrafo-sobre-curso {
        font-family: "Sora", "Inter", Arial, Helvetica, sans-serif;
        color: $text-sg;
    }
}