@use '../../../styles/global.scss' as *;

.BackCurso {
    width: 100%;
    height: 100%;
    background: linear-gradient(132deg, $black-900, 70%, $navy-900 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        font-family: 'Inter', Arial, Helvetica, sans-serif;
    }
}