@use '../../../styles/global.scss' as *;

.head-curso {
    width: 100%;
    height: 70px;
    padding: rem(3);

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        .user-conteiner {
            margin-right: rem(20);
            background: $blue-500;
            display: flex;
            align-items: center;
            padding: rem(5);
            height: 80%;
            min-width: 150px;
            border-radius: 10px;

            .user-img {
                border-radius: 10px;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
            }

            .user-name {
                color: white;
                font-family: 'Sora', Arial, Helvetica, sans-serif;
            }
        }
    }
}