@use '../../../../styles/function.scss' as fn;



.Player {
    width: 100%;
    height: 100%;
    padding: fn.rem(10);
    display: flex;
    flex-direction: column;
    gap: fn.rem(10);

    .wraper-video {
        aspect-ratio: 16 / 9;
        background: black;
        height: 450px;
        overflow: hidden;
        border-radius: 10px;
    }
}