@use '../../../../styles/global.scss' as *;

$bg-resumocart: #131528;
$sub-resumocart: #101222;

.wraper-resumo-cart {
    width: 100%;
    height: fit-content;
    background: $bg-resumocart;
    border-radius: 10px;
    padding: rem(13);

    .resumo-cart {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background: $sub-resumocart;
        padding: rem(15);

        div {
            .resumo {
                display: flex;
                border-top: 3px solid $bg-resumocart;
                padding-top: rem(10);
                padding-bottom: rem(10);
                
                h3 {
                    flex: 1;
                    color: $text-sg;
                    text-align: start;
                }
                p {
                    flex: 1;
                    color: $text-main;
                    text-align: end;
                }

                //style subtotal
                .discount-text {font-size: rem(14);}
                .discount-price {font-size: rem(16);}
                //style total
                .tax-text {font-size: rem(16);}
                .tax-price {font-size: rem(22);}
            }
        }
    }
}