@use '../../../styles/global.scss' as *;


.auth-botao-enter {
    margin-top: rem(50);
    width: 90%;
    height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #1f1f1f;
        transition: 0.2s ease-out;
        cursor: pointer;
        
        p {
            font-size: rem(20);
            color: #fefefe;
        }

        span.londing-circle {
            height: 80%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: 5px solid transparent;
            border-bottom: 5px solid rgba(255, 255, 255, 0.482);
            animation: loading-circle 1s linear infinite;
        }

        &:hover {
            background: lighten(#1f1f1f, 10%);
        }

        //animacao do circulo girando(carregando)
        @keyframes loading-circle {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}