@use '../../../styles/global.scss' as *;

.Opcao-auth {
    margin-top: rem(20);
    width: 90%;
    height: rem(40);
    gap: rem(10);
    display: flex;

    .Opcao-conectar {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #141414;
        border-radius: 20px;
        gap: rem(5);
        flex: 1;
        cursor: no-drop;

        img {
            aspect-ratio: 1 / 1;
            height: 40%;
        }

        p {
            color: #8b8b8b;
            font-weight: rem(16);
        }
    }
}